
/* PRODUCTS */

.products{
    background-color: #9EDAD3;
    margin: auto;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-container{
    margin-left: 2%;
    margin-right: 2%;
    margin: auto;
    background-color: #FFCC65;
}

.product-image{
    height: 350px;
}

.product-campaign1{
    height: 350px;
    width: 770px;
    object-fit: cover;
    object-position: bottom;
    margin-right: 3%;
    margin-left: 34px;
}

.product-campaign2{
    height: 350px;
    width: 770px;
    object-fit: cover;
    object-position: bottom;
    margin-left: 3%;
    margin-right: 34px;
}

.image9{

}

.load {
    text-align: center;
}
