
/* SLIDER*/

/*
.control-container{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  top: 24%;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 1;
}

.control-next{
  font-size: 80px;
  color: white;
  opacity: 0.8;
  right: 0;
  border-radius: 2px 0 0 2px;
}

.control-prev{
  font-size: 80px;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 0 2px 2px 0;
}
*/



.slider{
  width: 100%;
  margin: auto;
  background-color: deeppink;
  display: flex;
}

.slider-container{
  padding: 0;
  width: 200%;
  right: 100%;
  animation: move 20s infinite alternate linear;
}

/*.slider-container1{
  position: absolute;
  height: 6%;

}*/

.slider-list{
  width: 100%;
  list-style: none;
}

.slider-image{
  width: 100%;
}

@keyframes move {
  from {
    left: -100%;
  }
  to {
    left: -300%;
  }
}